[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dyadicMarkov"]
	path = dyadicMarkov
	url = https://github.com/boellenruecherm/dyadicmarkov-public
